#hero {
  margin-top: 8rem;
}
.main-text {
  font-size: 2rem;
}

#buttons-container a {
  line-height: 5rem;
  font-size: large;
  padding: 0;
  width: 30rem !important;
  height: 5rem !important;
}

